
/* body section */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding:0px;
}
/* ------------head section ----------------*/



.header-display{
    background: #2D25A0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.header-title{
font-size: 64px;
}
.header-title p{
color: #FFFFFF;
 width: 485px;
height: 230px;
margin: 0;

}

a{
    background-color:#E02C6D; 
    padding:10px 24px;
    color: white;
    text-decoration: none;
    font-size: 16px;
    width:168px;
    margin-left: 10px;
    
}

/* ------header image -------*/
.header-img img{
    width: 556.01px;
height: 438px;

}
.header-img{
    margin-top: 30px;
    margin-bottom: 20px;
}
/*-------------- header hover --------------*/
.header-display:hover img{
    transform: rotate(45deg);
    transition: transform 3s ease;
    overflow: hidden;
    

     /* transform-origin: top right;  */
   
    
}
.header-display:hover .header-display{
    
}
